.base {
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--space-5);
}

@media (min-width: 768px) {
  .base {
    padding-inline: var(--space-7);
  }
}

.page {
  max-width: var(--maxw-page);
}

.prose {
  max-width: var(--maxw-prose);
}
